a {
color: #FF3F80;
text-decoration:none}
* {
display : inline;
}
img,figur{
height: auto;
max-width: 100%%;
margin-right: 0px;
padding-right: 0px;
margin-left: 0px;
padding-left: 0px;
margin-top: 10px;
}

