<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.randomlocks.gamesnote">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".ExampleApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.example.randomlocks.gamesnote.Chromecast.CastOptionsProvider" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.codepath.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchablewiki" />
        </activity>
        <activity
            android:name=".Activity.GameDetailActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Activity.MainActivity" />
        <activity android:name=".Activity.ImageViewPagerActivity" />
        <activity android:name=".Activity.GameReviewActivity" />
        <activity android:name=".Activity.UserReviewActivity" />
        <activity android:name=".Activity.UserReviewDetailActivity" />
        <activity android:name=".Activity.ImprovedWebViewActivity" />
        <activity
            android:name=".Activity.CharacterDetailActivity"
            android:configChanges="keyboard|keyboardHidden" />
        <activity android:name=".Activity.CharacterFriendEnemyActivity" />
        <activity android:name=".Activity.SettingsActivity"
            android:parentActivityName=".Activity.MainActivity"/>

        <activity
            android:name=".Activity.ExpandedControlsActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"

            android:screenOrientation="portrait"
            android:theme="@style/Theme.CastVideosDark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.randomlocks.gamesnote.Activity.MainActivity" />
        </activity>

        <activity
            android:name=".Activity.VideoPlayerActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>


        </activity>


    </application>

</manifest>